html{   
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    overflow-x: hidden !important;
    text-align: center;
    position: relative;
    color: #000;
    background-color: #D7B13E;
    opacity: 1;
}
header{
    background-color: black;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 2px solid #D7B13E;

}
.container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

nav{
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Montserrat';
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 0px;
    flex: 1;
}

nav.n1{
    
    display:none;
}
.section11 ul{
    padding-left: 0rem;
}

.section11 ul li{
    list-style: none;
    padding: 20px;
    font-size: 25px;

}
.section11 ul li a{
    text-decoration: none;
    color:#D7B13E;
    transition: 500ms;
}
.section11 ul li a:hover {
    background-color:rgba(255, 233, 121, 0.51);
    transition: 500ms;
    padding: 10px;
    border-radius: 10px;
    color: #FAF3D9;
}
.section11{
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 25px;
    width:auto;
    border-radius: 50px;

}
h6.down{
    color: #D7B13E; 
    font-weight:bolder;
    font-size: 1.25rem;
    line-height: 1.2;
}

h1.title{
    color:#D7B13E;
    text-align: left;
}

.btn_1{
    font-size: 15px;
    background:none;
    color: #D7B13E;
    font-family:'Montserrat';
    font: bolder;
    border: 2px solid #D7B13E;
    border-radius: 10px;
    padding: 10px;
    transition: 500ms;
}
.btn_x{
    font-size: 15px;
    background:none;
    color: #FDE76F;
    font-family:'Montserrat';
    font: bolder;
    border: 2px solid #FDE76F;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 500ms;

}
.btn_x:hover {
    background-color: #FDE76F43;
    border-radius: 10px;
    transition: 500ms;
}  
.sections{
    background-color: #000000;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    width:auto;
    border-radius: 50px;

}
.parax{
    padding-top: 50px;
    padding-bottom : 50px;
}
p.para{
    color: white; 
    text-align: left;
    padding-left:275px;
    padding-top: 50px;
    font-size: 20px;
}
ul{
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
} 
h1.head{
    padding-left: 100px;
    padding-right: 100px;
    color: #b42423;

}